<div class="logged-in" *ngIf="userState.currentUser">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <label>
      Upload a epub book
      <input type="file" formControlName="book" accept="application/epub+zip" (change)="onFileSelect($event)">
    </label>
    <p>
      <button type="submit" [disabled]="!uploadForm.valid">Upload</button>
    </p>
  </form>

  <hr>

  <button (click)="userState.logout()">Logout</button>
</div>

<div class="logged-out" *ngIf="!userState.currentUser">
  <button (click)="joinUsingGoogle()">Sign In</button>
</div>
